body{
	background-color: #ffecdf;
}
#wrapper {
    width: 980px;
    margin: auto;
    background: url(../images/middle_bg.jpg) repeat-y center;
    
}
.col-md-3{
	width: auto;
	margin-left: 30px;
}

.title {
    font-family: 'Lora', serif;
    font-size: 14px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 1px #333333;
    color:#ffecdf;
}

#header {
    width: 980px;
    height: 497px;
    background: url(../images/header_image.jpg) no-repeat;
    margin: 0;
}


.main-area{
	width:980px;
	padding: 50px;
	visibility: hidden;	
	

}
.container{
	padding: 0;
}

.sidebar{
	margin: 0 0 10px 0;
    padding: 8px;
    background: #FFFFFF;
    
    box-shadow: 0 2px 6px #50293C, 0 0 40px #FFECDF inset;
}



.ques_area{
	
	width: 900px;
	height: 500px;
	    clear: both;
    margin-right: 80px;
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px #50293C, 0 0 40px #FFECDF inset;
   
}

.result_area{
	display: none;
}

.next_ques{
	visibility: hidden;
}