@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lora');

body{
	background-color: #ffecdf;
}
#wrapper {
    width: 980px;
    margin: auto;
    background: url(../images/middle_bg.jpg) repeat-y center;
    
}
.col-md-3{
	width: auto;
	margin-left: 15%;
	
}

.title {
    font-family: 'Lora';
    font-size: 12px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 1px #333333;
    color:#ffecdf;
}

#header {
    width: 980px;
    height: 497px;
    background: url(../images/header_image.jpg) no-repeat;
    margin: 0;
}


.main-area{
	width:980px;
	padding: 50px;
	padding-top: 10px;
	visibility: hidden;	
	margin-top: 0;
	color:#50293c;
	

}
.container{
	padding: 0;
}

.sidebar{
	margin: 0 0 10px 0;
    padding: 8px;
    background: #FFFFFF;
    
    box-shadow: 0 2px 6px #50293C, 0 0 40px #FFECDF inset;
}

.timer_display{
	text-align: center;
	color: red;
	font-weight: bold;
}




.ques_area{
	font-family: 'Indie Flower';

	
	width: 900px;
	height: 525px;
	    clear: both;
    margin-right: 80px;
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px #50293C, 0 0 40px #FFECDF inset;
   
}

.question{
	text-align: center;
	font-weight: bold;
}

.ques_image img { 
	width:400px;
	margin-left: 27%;
}

.ans_options{
	margin-left: 27%;
	width: 400px;
}

.choice{
	/*display: inline-block;*/
	text-align: center;
	/*margin-left: 27%;
	width: 400px;*/
}

.result_area{
	display: none;
}

.next_ques{
	visibility: hidden;
}